@font-face{
	font-family: font1;
	src: url("fonts/BeauRegular.ttf");
}
@font-face{
	font-family: font2;
	src: url("fonts/LiteraturnayaBook.ttf");
}
@font-face{
	font-family: font3;
	src: url("fonts/MusticaproSemibold.otf");
}
@font-face{
	font-family: font4;
	src: url("fonts/TypeyMctypeface.ttf");
}
@font-face{
	font-family: font5;
	src: url("fonts/TypeyMctypefaceItalic.ttf");
}
body{
	margin: 0;
}
a{
	text-decoration-line: none;
}
tab{
	padding-left: 2em;
}
#header-0{
	position: relative;
	background-color: #000;
	height: 30px;
	text-align: right;
	background-image: url();
	background-size: cover;
	background-position: 50% 54%;
	box-shadow: 0 0 60px #000 inset;
}
#header{
	position: sticky;
	top: 0;
	height: 50px;
	background-color: #222;
	z-index: 100;
}
#header .right-btn{
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
	height: 20px;
	line-height: 20px;
	font-size: 25px;
}
#header .right-btn:hover{
	margin: 0;
}
#header .right-btn .right-btn-menu{
	position: absolute;
	width: 100vw;
	height: 0;
	top: 45px;
	right: -5px;
	background-color: #f00;
	background-color: rgba(0, 0, 0, 0.7);
	transition-duration: 200ms;
	pointer-events: none;
}	
#header .right-btn:hover .right-btn-menu{
	top: 50px;
	right: 0px;
	height: calc(100vh - 50px);
	pointer-events: auto;
}	
#header .right-btn-menu .ibtn{
	opacity: 0;
	position: absolute;
	left: 50%;
}
#header .right-btn:hover .right-btn-menu .ibtn{
	opacity: 1;
}
#header .right-btn-menu .ibtn1{
	top: 30%;
	transform: translate(-50%, -30%);
}
#header .right-btn-menu .ibtn2{
	top: 50%;
	transform: translate(-50%, -50%);
}
#header .right-btn-menu .ibtn3{
	top: 70%;
	transform: translate(-50%, -70%);
}
#header .special{
	display: inline-block;
	vertical-align: top;
}
#header .special-body{
	display: none;
}
#header .special-menu{
	
}
#header .btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #ddd;
	font-family: font4;
	transition-duration: 200ms;
}
#header .btn:hover{
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
}
#header .btn .menu{
	position: absolute;
	left: 0;
	top: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	border-radius: 5px;
	transition-duration: 200ms;
	transition-delay: 100ms;
	transition-property: transform top;
	transition-timing-function: cubic-bezier(.7,.42,.7,.42);
	transform: translateY(-50%) scaleY(0);
}
#header .btn:hover .menu{
	top: calc(100% + 5px);
	transform: translateY(0) scaleY(1);
}
#header .btn .menu .cover{
	position: absolute;
	left: 0;
	bottom: 100%;
	height: 5px;
	width: 100%;
}
#header .btn .menu-btn{
	color: #aaa;
	font-size: 20px;
}
#header .btn .menu-btn:hover{
	color: #fff;
}
#header .btn .arr{
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#header .btn .arr::before{
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 12px;
	top: calc(50% - 1px);
	left: 0;
	background-color: #f00;
	transform: rotate(-45deg);
	transition-duration: 200ms;
}
#header .btn:hover .arr::before{
	transform: rotate(45deg);
}
#header .btn .arr::after{
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 12px;
	top: calc(50% - 1px);
	right: 0;
	background-color: #f00;
	transform: rotate(45deg);
	transition-duration: 200ms;
}
#header .btn:hover .arr::after{
	transform: rotate(-45deg);
}
#header .logo{
	padding: 5px;
	height: 40px;
}
#header .logo img{
	height: 100%;
	/*animation: pulsing 2s infinite;*/
}
#header .logo:hover img{
	animation: shake 2s infinite;
}
#content{
	background-color: #000;
	min-height: 100vh;
}
#content .block{
	position: relative;
}
#content .block video{
	width: 100%;
}
#block1 .title{
	position: absolute;
	width: 300px;
	left: 90%;
	top: 50%;
	transform: translate(-90%, -50%);
	text-align: center;
}
#block1 .title-img{
	width: 100px;
	opacity: 0.6;
}
#block1 .title-img:nth-child(2){
      	display: none;
}
#block1 .title-text{
	text-align: justify;
	font-size: 20px;
	color: #ddd;
	text-shadow: 0 0 2px #f00	;
}
.bts{
	display: inline-block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding: 10px;
	margin: 15px;
	font-size: 30px;
	background-color: #fff;
	font-family: font1;
	text-transform: uppercase;
	color: #333;
	transition-duration: 300ms;
	text-shadow: 0 0 0px #000;	
	border-radius: 10px;
	display: inline-block;
}
.bts:hover{
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 10px;
	text-shadow: 0 0 0px #000;	
	color: #000;
}
#block1 .title-btn{
	background-color: #f00;
	color: #aaa;
}
#block1 .title-btn:hover{
	color: #fff;
}
#block1 a{

}
#block1 a .title-btn{
	font-size: 30px;
}
#block2{
	background-image: linear-gradient(to top, #111 ,#000);
	text-align: center;
}
#block2 .cards{
	padding: 30px;
}
#block2 .card{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 30px;
	background-color: #111;
	width: 360px;
	height: 640px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 5px #555;
	transition-duration: 500ms;
}
#block2 .card:hover{
	transform: translateY(-10px);
	box-shadow: 0 5 15px #555;
}
#block2 .card .img{
	width: 100%;
	height: 202px;
	background-size: cover;
	background-position: 50% 50%;
}
#block2 .card1 .img{
	background-image: url("img/wp1.jpg");
}
#block2 .card2 .img{
	background-image: url("img/wp2.jpg");
}
#block2 .card3 .img{
	background-image: url("img/wp3.jpg");
}
#block2 .card .text{
	width: 100%;
	height: calc(100% - 202px);
	box-shadow: 0 0 5px #222 inset;
}
#block2 .card .text .name{
	padding-top: 50px;
	font-size: 35px;
	font-family: font2;
	color: #fff;
}
#block2 .card .text .main{
	padding: 10px;
	font-size: 30px;
	text-align: justify;
}
#block3{
	padding: 50px;
	text-align: center;
}
#block3 .big-text{
	padding: 20px;
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
}
#block3 .small-text{
	padding: 30px;
	font-size: 25px;
	color: #ccc;
}
#block3 .btn{

}
#block4{

}
#block4 .gallery{
	max-width: 1600px;
	text-align: center;
	margin: auto;
}
#block4 .gallery .gallery-box{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 400px;
	height: 400px;	
	box-shadow: 0 0 100px #100 inset;
	background-size: cover;
	background-position: 50% 20%;
	transition-duration: 200ms;
}
#block4 .gallery .gallery-box:hover{
	box-shadow: 0 0 0 #000 inset;
}
#block4 .gallery .gallery-box::after{
	content: "Image";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	background-color: rgba(64, 64, 64, 0.6);
	color: #fff;
	font-size: 25px;
	transform: translateY(-50%) scaleY(0);
	transform-timing-function: cubic-bezier(.7,.42,.7,.42);
	transform-duration: 200ms;
	z-index: 1;
}
#block4 .gallery .gallery-box:hover::after{
	transform: translateY(0) scaleY(1);
}
#block4 .gallery .gallery-box.img1{
	background-image: url("img/IG1.jpg");
}
#block4 .gallery .gallery-box.img2{
	background-image: url("img/IG2.jpg");
}
#block4 .gallery .gallery-box.img3{
	background-image: url("img/IG3.jpg");
}
#block4 .gallery .gallery-box.img4{
	background-image: url("img/IG4.jpeg");
}
#block4 .gallery .gallery-box.img5{
	background-image: url("img/IG5.jpg");
}
#block4 .gallery .gallery-box.img6{
	background-image: url("img/IG6.jpg");
}
#block4 .gallery .gallery-box.img7{
	background-image: url("img/IG7.jpeg");
}
#block4 .gallery .gallery-box.img8{
	background-image: url("img/IG8.jpg");
}
#block4 .gallery .gallery-box.img9{
	background-image: url("img/IG9.jpg");
}
#block4 .gallery .gallery-box.img10{
	background-image: url("img/IG10.jpg");
}
#block5 iframe{
	width: 100%;
	min-height: 240px;
	height: calc(100vw / 21 * 5);
	border: 0;
}
#footer{
	padding: 50px;
	background-color: #111;
	text-align: center;
}
#footer span{
	color: #aaa;
	font-size: 16px;
	margin: 10px;
}
#footer span a{
	color: #aaa;
}
#footer span a:hover{
	text-decoration-line: underline;
}
@keyframes pulsing{
	0%	{	transform: scale(1);	}
	25%	{	transform: scale(1.1);	}
	50%	{	transform: scale(1);	}
	75%	{	transform: scale(1.1);	}
	100%{	transform: scale(1);	}
}
@keyframes shake{
	0%	{	transform: translateX(0);		}
	25%	{	transform: translateX(-5%);		}
	50%	{	transform: translateX(10%);	}
	75%	{	transform: translateX(-5%);		}
	100%{	transform: translateX(0);		}
}
@media(max-width: 640px){
    #block1 .title-img:nth-child(1){
      	display: none;
    }
    #block1 .title-img:nth-child(2){
      display: block;
    }
    #header .special{

	}
	#header .special-body{
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		background-color: f00;
	}
	#header .special-body .line{
		position: absolute;
		height: 3px;
		width: 60%;
		background-color: #aaa;
		left: 20%;
		border-radius: 2px;
		transition-duration: 200ms;
	}
	#header .special-body .line.top{
		top: 20%;
	}
	#header .special-body .line.middle{
		top: calc(50% - 1.5px)
	}
	#header .special-body .line.bottom{
		bottom: 20%;
	}
	#header .special-body:hover .line.top{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg) scale(1.41);
	}
	#header .special-body:hover .line.middle{
		transform: translate(0, 0) rotate(0) scaleX(0);
	}
	#header .special-body:hover .line.bottom{
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%) rotate(-45deg) scale(1.41);
	}
	#header .special-menu{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.8);
		transform: translateY(-50%) scaleY(0);
		transform-duration: 200ms;
	}
	#header .special:hover .special-menu{
		transform: translateY(0) scaleY(1);
	}
	#header .special-menu .btn{
		display: block;
	}
}
